body{
  background-color: #222;
  color: white;
}

.intro{
  height: 30vh;
  font-family: 'Rajdhani', sans-serif;;
}
.ola{
  font-size: 1.8rem;
}
.sorin{
  font-size: 2.5rem;
}


/* .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #180389;
  color: white;
}

.menu{
  display: flex;
  list-style: none;
}

.menu li{
  margin-left: 25px;
} */
